.card {
    width: 394px;
    height: 261px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #404040;
    background: linear-gradient(
        106.01deg,
        #171717 -9.44%,
        #252525 104.61%,
        rgba(37, 37, 37, 0) 104.61%
      ),
      linear-gradient(0deg, #404040, #404040);
    overflow: hidden;
    color: white;
  }
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 16px;
  }
  .photo {
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }