
.review-card {
  width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #404040;
  background: linear-gradient(
      106.01deg,
      #ffffff -9.44%,
      #ffffff 104.61%,
      rgba(255, 255, 255, 0) 104.61%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  overflow: hidden;
  color: black;
  transition: background 0.3s, color 0.3s, border 0.3s; 
}

.review-card-content {
  padding: 20px;
}

.review-card-title {
  font-size: 24px;
  font-weight: bold;
}

.review-card-description {
  font-size: 16px;
}

.review-photo {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.review-horizontal-stars {
  font-size: 24px;
  color: #f1c40f;
  display: flex;
  align-items: center;
}

