@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.font {
  font-family: Poppins;
}
.review-card {
  width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  background: rgba(34, 34, 34, 0.80);
  backdrop-filter: blur(10px); 
  overflow: hidden;
  color: white;
  text-align: justify;
  transition: background 0.3s, color 0.3s, border 0.3s; 
}

.review-card-content {
  padding: 20px;
}

.review-card-title {
  font-size: 24px;
  font-weight: 500;
  font-family: Poppins;
}

.review-card-description {
  font-size: 16px;
  font-family: Poppins;
}

.review-photo {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.review-horizontal-stars {
  font-size: 24px;
  color: #f1c40f;
  display: flex;
  align-items: center;
}

@media (max-width: 360px) {
  .review-card {
    max-width: 90% !important;
    margin: auto;
    width: 380px;
  }


}
@media (max-width: 390px) {
  .review-card {
    max-width: 90% !important;
    margin: auto;
    width: 384px;
  }


}