@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.font {
 font-family: Poppins;
} 
.gradient-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; 
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.00) 9.91%,  #222a33f5 55.09%);
    flex-shrink: 0;
  }

  .see-more-btn {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    gap: 8px;
    border-radius: 5px;
     background: #3d4854d4;
  border:  #647182;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 360px) {
    .see-more-btn {
        padding: 10px 16px;   
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .see-more-btn {
        padding: 10px 16px;   
    }
}
