@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.font{
  font-family: Poppins;
}

.collapse{

  border-radius: 10px;
  border: 1px solid #404040;
  background: rgba(34, 34, 34, 0.80);
}
.szh-accordion__item-heading{
  margin-left: -6px;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

.faq-card{
  width: 370px;
}
}
@media (max-width: 360px) {
  .quustion-card {
    max-width: 85% !important;
    margin: auto;
  }


}




