@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.font {
  font-family: Poppins;
}
.collapse {
  border-radius: 5px;
  border: 1px solid #525d6bd4;
  background: #28303ad4;

}
.szh-accordion__item-heading {
  margin-left: -6px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .faq-card {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .quustion-card {
    max-width: 85% !important;
    margin: auto;
  }
}
