.client-spring-containt {
    flex-shrink: 0;
    border-radius: 5px;
    background: #28303ad4;
    border: 1px solid #374352;
    
  }

  @media (max-width: 360px) {
    .client-spring-containt {
      width: 90%;
      max-width: 760px;
      
    }

  
  }
   @media (max-width: 390px) {
    .client-spring-containt {
      width: 95%; 
      max-width: 760px; 
    }
  
  }
 