@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.heading {
  font-family: Poppins;
}

.price-card {
  width: 300px;
  height: 1000px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #171717;
}

.pricing-title {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
}

.price-title {
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  font-family: Poppins;
}

.price-p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins; 
  font-weight: 400;
  line-height: 28px;
}

.price {
  color: var(--Primary-Color, #3c4ff8);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 100% */
}

.price-month {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.buy-btn {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: Poppins;
  border-radius: 10px;
  background: var(--Primary-Color, #3c4ff8);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
