@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.heading {
  font-family: Poppins;
}

.price-card {
  width: 300px;
  height: 64rem;
  flex-shrink: 0;
  border-radius: 5px;
  background: #28303ad4;
}

.pricing-title {
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
}

.price-title {
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  font-family: Poppins;
}

.price-p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.price {
  color:white;

  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 100% */
}

.price-month {
  color: white;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.buy-btn {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: #3d4854d4;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #5e6b7a;
}

/* Review card container */
.modal-card {
  border-radius: 5px;
  border: 1px solid #374352;
  background: #28303ad4;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

  .price-card {
    width: 300px;
    height: 1000px;
    border-radius: 5px;
    flex-shrink: 0;
    background: #28303ad4;
  }
}