.icon-btn {
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 3px;
    background: var(--Primary-Color, #FF0000);
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hr-line {
    height: 0px !important;
    color: #232323!important;
    border-bottom: 2px solid;
    margin-top: 2px;
  }


