.icon-btn {
    display: inline-flex;
    padding: 13px 17px;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 5px;
    background: var(--Primary-Color, #3C4FF8);
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 768px) {
    .icon-btn {
        padding: 10px 16px; 
        font-size: 16px;   
    }
}
