@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.heading{
  font-family: Poppins;
}

/* Review card container */
.submit-review-card {
  width: 650px;
  height: 700px;
  border-radius: 5px;
  border: 1px solid #2b2b2b;
}
.input-field {
  border-radius: 5px !important;
  mix-blend-mode: luminosity;
  color: #a0a0a0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.border-castom{
  border-radius: 5px !important;
  border: 1px solid #2b2b2b;
}


.review-button {
  height: 52px;
  font-family: 'Poppins';
  border-radius: 5px !important;
  background-color: #FF1200;
  color: #FFF;
  cursor: pointer;
}



@media (max-width: 768px) {
  .submit-review-card {
    max-width: 90%;
    margin-bottom: 50px;
  }
  .container-review-card {
    max-width: 90%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  .review-button {
    width: 60%;
  }
}
