@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.heading{
  font-family: Poppins;
}

/* Review card container */
.submit-review-card {
  width: 711px;
  height: 700px;
  border-radius: 10px;
  border: 1px solid #6c6c6c;
}
.input-field {
  border-radius: 5px;
  border: 1px solid #404040;
  background: rgba(34, 34, 34, 0.8);
  mix-blend-mode: luminosity;
  color: #a0a0a0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.review-button {
  height: 52px;
  font-family: 'Poppins';
  border-radius: 10px;
  background-color: #3C4FF8;
  color: #FFF;
  cursor: pointer;
}



@media (max-width: 768px) {
  .submit-review-card {
    max-width: 90%;
    margin-bottom: 50px;
  }
  .container-review-card {
    max-width: 90%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  .review-button {
    width: 90%;
  }
}
