@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.font {
  font-family: Poppins;
}
.download-btn {
  display: inline-flex;
  padding: 17px 19px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: #3d4854d4;
  border:  #647182;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hr-line {
  height: 0px !important;
  /* color:  !important; */
  border-bottom: 1px solid #505b6826;
  margin-top: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .download-btn {
    padding: 10px 13px;
  }
}


