.download-btn {
  display: inline-flex;
  padding: 17px 19px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  background: var(--Primary-Color, #3c4ff8);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hr-line {
  height: 0px !important;
  color: #232323!important;
  border-bottom: 2px solid;
  margin-top: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .download-btn {
    padding: 10px 13px;
    font-size: 15px;
    border-radius: 7px;
  }
}


