/* Hexagon container */
.hexagon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Hexagon styles */
.hexagon {
  width: 238px;
  height: 238px;
  margin: 10px;
  position: relative;
  background: linear-gradient(0deg, #171717, #171717),
    linear-gradient(180deg, #3c4ff8 100%, rgba(60, 79, 248, 0) 100%);
  border: 1px solid #3c4ff8;
  /* border-image-source: linear-gradient(
    180deg,
    #3c4ff8 0%,
    rgba(109, 1, 1, 0) 100%
  ); */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Hexagon inner content (for image positioning) */
.hexagon-inner {
  margin: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image styles */
.hexagon-image {
  object-fit: cover;
  margin-top: auto;
}
