/* Hexagon container */
.hexagon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Hexagon styles */
.hexagon {
  width: 210px;
  height: 210px;
  flex-shrink: 0;
  margin: 5px;
  position: relative;
}

/* Hexagon SVG styles */
.hexagon-svg {
  width: 100%;
  height: 100%;
}

/* Hexagon inner content (for image positioning) */
.hexagon-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%; /* Adjust the width to control image size inside the hexagon */
  height: 80%; /* Adjust the height to control image size inside the hexagon */
  display: flex;
  justify-content: center;
  align-items: center;
}

