@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.client-card {
  width: 394px;
  position: relative;
  border-radius: 5px;
  background: #28303ad4;
  overflow: hidden;
  color: white;
  backdrop-filter: blur(10px);
}

.client-card-content {
  padding: 20px;
}

.client-card-title {
  font-size: 20px;
  font-weight: 500;
  
}

.client-card-description {
  font-size: 14px;
  font-weight: 500;
  
}

.client-photo {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.client-horizontal-stars {
  font-size: 24px;
  color: #f1c40f;
  display: flex;
  align-items: center;
}

.pagination{
  border-radius: 5px !important;
}

@media (max-width: 360px) {
  .client-card {
    max-width: 90% !important;
    margin: auto;
    width: 384px;
  }
}
@media (max-width: 390px) {
  .client-card {
    max-width: 90% !important;
    margin: auto;
    width: 384px;
  }
}
