
  .client-card {
    width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  background: rgba(34, 34, 34, 0.80);
  overflow: hidden;
  color: white;
  transition: background 0.3s, color 0.3s, border 0.3s; 
  }
  
  .client-card-content {
    padding: 20px;
  }
  
  .client-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .client-card-description {
    font-size: 15px;
  }
  
  .client-photo {
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }
  
  .client-horizontal-stars {
    font-size: 24px;
    color: #f1c40f;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 360px) {
    .client-card   {
      max-width: 90% !important;
      margin: auto;
      width: 384px;
    }
  }
  @media (max-width: 390px) {
    .client-card   {
      max-width: 90% !important;
      margin: auto;
      width: 384px;
    }
  }