/* Apply hover effect to the card */
/* .client-card:hover {
    background: linear-gradient(
        106.01deg,
        #252525 -9.44%, 
        #171717 104.61%, 
        rgba(37, 37, 37, 0) 104.61%
      ),
      linear-gradient(0deg, #404040, #404040);
    color: #ffffff; 
    border: 1px solid #fff; 
  }
   */

  .client-card {
    width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #404040;
  background: linear-gradient(
      106.01deg,
      #ffffff -9.44%,
      #ffffff 104.61%,
      rgba(255, 255, 255, 0) 104.61%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  overflow: hidden;
  color: black;
  transition: background 0.3s, color 0.3s, border 0.3s; 
  }
  
  .client-card-content {
    padding: 20px;
  }
  
  .client-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .client-card-description {
    font-size: 16px;
  }
  
  .client-photo {
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }
  
  .client-horizontal-stars {
    font-size: 24px;
    color: #f1c40f;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 360px) {
    .client-card   {
      max-width: 90% !important;
      margin: auto;
    }
  
  
  }