.bannerimg1 {
    background-image: url('../../../assets/Images/Maskgroup.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bannerimg2 {
    background-image: url('../../../assets/Images/Maskgroup-1.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bannerimg3 {
    background-image: url('../../../assets/Images/Maskgroup-2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bannerimg4 {
    background-image: url('../../../assets/Images/Maskgroup-3.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .iphone12DarkBackground {
    background-image: url('../../../assets/Images/Group47.png');
    background-repeat: no-repeat;
    width: 535.86px; 
    height: 536px; 
  }
  
  .circle {
    border-radius: 50%;
    width: 147px;
    height: 147px;
    align-items: center;
  }
  .titleBg {
    background: linear-gradient(to top, #ff0000 0%, #f35454 20%, transparent 40%, transparent 100%);
    background-size: 50%;
  }
  .titleBgCircle {
    background-color: #ff0000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  .centeredDiv {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f35454;
    width: 27px;
    height: 27px;
    border-radius: 50%;
  }

  
  /* Responsive breakpoints for mobile and tablet */
  @media (max-width: 768px) {
    .bannerimg1, .bannerimg2 {
      background-size: contain;
  
    }
  }