.bannerimg1 {
    background-image: url('../../../assets/Images/Maskgroup.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bannerimg2 {
    background-image: url('../../../assets/Images/Maskgroup-1.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .circle {
    border-radius: 50%;
    width: 147px;
    height: 147px;
    /* display: flex; */
    align-items: center;
  }
  
  /* Responsive breakpoints for mobile and tablet */
  @media (max-width: 768px) {
    .bannerimg1, .bannerimg2 {
      background-size: contain;
  
    }
  }