.bannerimg1 {
  background-image: url('../../../assets/Images/Maskgroup.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerimg2 {
  background-image: url('../../../assets/Images/Maskgroup-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wave{
  animation: wave linear 5s infinite;
  width: 200%;
}
@keyframes wave{
  0%{
    transform: translateX(-1%);
  }
 
  100%{
    transform: translateX(-40%);
  }
}

.bannerimg3 {
  background-image: url('../../../assets/Images/Maskgroup-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerimg4 {
  background-image: url('../../../assets/Images/Maskgroup-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.iphone12DarkBackground {
  background-image: url('../../../assets/Images/Group47.png');
  background-repeat: no-repeat;
  width: 535.86px;
  height: 536px;
}

.circle {
  border-radius: 50%;
  width: 147px;
  height: 147px;
  align-items: center;
}

.titleBg {
  background: linear-gradient(to top, #4b5bf0 0%, #5368dd 20%, transparent 40%, transparent 100%);
  background-size: 50%;
}

.titleBgCircle {
  background-color: #3C4FF8;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.centeredDiv {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #717ACF;
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.download-app {
  background: var(--Primary-Color, #3C4FF8);
}

/* Responsive breakpoints for mobile and tablet */

/* Responsive breakpoints for mobile and tablet */
@media (max-width: 360px) {
  .iphone12DarkBackground {
    background-image: url('../../../assets/Images/Group47.png');
    background-size: contain;
    width: 346.86px;
    height: 536px;
    right: -1rem;
  }

  .iphone12DarkBackground-img {
    left: 7rem;
    top: 5rem;
  }

  .bg-logo {
    left: -3rem;
    top: -2rem;
  }

  .logo1 {
    left: 7rem;
    top: 1rem;
  }

  .logo2 {
    left: 17rem;
    top: 11rem;
  }

  .svg-logo {
    top: 3rem;
    left: 17rem;

  }

  .svg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  /* 2nd slider */
  .right-section{
    left: 6rem;
    padding-top: 6rem;
  }
  .right-section img{
    margin-left: 3rem;
  }

  .campus-img{
    height: 200px;
    width: 150px;
  }
  .jackjon-img{
    height: 200px;
    width: 150px;
  }
  .logo-learning{
    top: 8rem;    
  }

  .right-side-banner img {
    height: 260px;
    width: 200px;
  }

  .salary-img {
    right: -1rem;
  }

  .learning-img {
    left: 8rem;
    top: 15rem;
  }
  .container2,
  .container3,
  .container4 {
    display: flex;
    flex-direction: column;
  }
 

}
