.card {
  width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  /* border: 1px solid #404040; */
  background: linear-gradient(106deg, #171717 -9.44%, #252525 104.61%, rgba(37, 37, 37, 0.00) 104.61%);
  overflow: hidden;
  color: white;
  text-align: justify;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.3s, color 0.3s, border 0.3s;
}

/* .card:hover {
  background: linear-gradient(
    106.01deg,
    #252525 -9.44%, 
    #171717 104.61%, 
    rgba(37, 37, 37, 0) 104.61%
  ),
  linear-gradient(0deg, #404040, #404040); 
  border: 2px solid #fafafa;
  background-image: linear-gradient(#E5E4E2, #E5E4E2);
} */

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
}

.card-description {
  font-size: 16px;
}

.card-icon {
  position: absolute;
  bottom: -10px;
  right: -10px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid rgb(110, 110, 124);
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: rotate(45deg) scale(1.5) translate(50px, 20px);
    border: 2px solid #626262; 
  }
  

  @media (max-width: 360px) {
    .card   {
      max-width: 90% !important;
      margin: auto;
      /* width: 384px; */
    }
    
  }

  @media (max-width: 390px) {
    .card   {
      max-width: 90% !important;
      margin: auto;
      width: 384px;
    }
  
  }
  @media (max-width: 1024px) {
    /* .main-section{
      display:grid;
      grid-template-columns: repeat(2 , 1fr);
      width: 800px;
      gap: 25px;
    } */
    
  
  }