.card {
  width: 400px;
  height: 261px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  /* border: 1px solid #404040; */
  background: linear-gradient(106deg,
      #171717 -9.44%,
      #252525 104.61%,
      rgba(37, 37, 37, 0) 104.61%);
  overflow: hidden;
  color: white;
  text-align: justify;
  mix-blend-mode: luminosity;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #404040;
  mix-blend-mode: luminosity;
  backdrop-filter: blur(10px);
}

.middle-card {
  width: 394px;
  height: 261px;
  position: relative;
  border-radius: 10px;
  /* border: 1px solid #404040; */
  background: linear-gradient(106deg,
      rgba(49, 49, 49, 0) -9.44%,
      #252525 104.61%,
      #252525 104.61%);
  overflow: hidden;
  color: white;
  text-align: justify;
  mix-blend-mode: luminosity;
  backdrop-filter: blur(10px);
}

.background-overlay {
  width: 600px;
  height: 584px;
  flex-shrink: 0;
  border-radius: 740px;
  background: rgba(32, 35, 118, 0.38);
  filter: blur(109px);
  left: 25%;
  top: 98rem;
  position: absolute;
}

/* .card:hover {
  background: linear-gradient(
    106.01deg,
    #252525 -9.44%, 
    #171717 104.61%, 
    rgba(37, 37, 37, 0) 104.61%
  ),
  linear-gradient(0deg, #404040, #404040); 
  border: 2px solid #fafafa;
  background-image: linear-gradient(#E5E4E2, #E5E4E2);
} */

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: 500;
}

.card-description {
  font-size: 16px;
  font-family: lato;
}

.card-icon {
  position: absolute;
  bottom: -10px;
  right: -10px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 50%;
  padding: 15px;
  border: 0.5px solid rgb(110, 110, 124);
}


@media (max-width: 360px) {
  .card {
    max-width: 90% !important;
    margin: auto;
    /* width: 384px; */
  }

  .background-overlay {
    display: none;
  }
}

@media (max-width: 390px) {
  .card {
    max-width: 90% !important;
    margin: auto;
    width: 384px;
  }

  .background-overlay {
    display: none;
  }
}