@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.font {
  font-family: Poppins;
}

.product-btn {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    gap: 8px;
    border-radius: 5px;
    background: #3d4854d4;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-circle {
    width: 267px;
    height: 267px; 
    flex-shrink: 0;
    border-radius: 267px; 
    background: #f77e7e; 
    filter: blur(250px); 
    position: absolute;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .product-btn {
        display: inline-flex;
        padding: 12px 14px;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        gap: 3px;
        border-radius: 5px;
        background: var(--Primary-Color, #3d4854d4);
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
