.product-btn {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: var(--Primary-Color, #3C4FF8);
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-circle {
    width: 267px;
    height: 267px; 
    flex-shrink: 0;
    border-radius: 267px; 
    background: #5F6FFB; 
    filter: blur(250px); 
    position: absolute;
  }

@media (max-width: 360px) {
    .product-btn {
        display: inline-flex;
        padding: 11px 12px;
        justify-content: center;
        align-items: center;
        gap: 3px;
        border-radius: 10px;
        background: var(--Primary-Color, #3C4FF8);
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}
