@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.heading{
  font-family: Poppins;
}
h1{
  font-family: Poppins;
}
.pragraph{
  font-family: Lato;
}
p{
  font-family: Lato;
}


 @media (max-width: 768px) {

  .bannerimg1,
  .bannerimg2 {
    background-size: contain;

  }
} 



