.circle {
  width: 267px;
  height: 267px; 
  flex-shrink: 0;
  border-radius: 267px; 
  background: #8894FF;
  right: -46px;
  bottom: -1820px;
  filter: blur(250px); 
  position: absolute;
}
.left-circle {
  width: 267px;
  height: 267px; 
  flex-shrink: 0;
  border-radius: 267px; 
  background: #8894FF;
  left: -59px;
  bottom: -1620px;
  filter: blur(250px); 
  position: absolute;
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }
}
