.circle {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%; 
    background: #f5abab;
    filter: blur(150px);
    position: absolute;
  }

  @media (max-width: 768px) {
    .circle {
      display: none;
    }
  }