/* about style  */
.about-title {

    color: black;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* 2nd div style */

.cards {
    height: 160px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #9b9b9b;
    background: white;
    mix-blend-mode: luminosity;
    backdrop-filter: blur(10px);
}


.card-img {
    width: 93px;
    height: 93px;
    flex-shrink: 0;
    border-radius: 93px;

}

.card-left-body p {
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.card-left-body h2 {
    color: black;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
}

/* 3rd div  style  */

.Title {
    color: black;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.founder {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}

.thought-title{
    color: black;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.thought-description{
    color: black;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

/* Define the pulsating border animation */
/* In your CSS file or within your Tailwind CSS configuration */
@keyframes border-animation {
    0% {
        border-color: #ff5733; /* Start color */
    }
    50% {
        border-color: #33ff57; /* Middle color */
    }
    100% {
        border-color: #5733ff; /* End color */
    }
}

/* Apply the animation to the border element */
.animate-border-animation {
    animation: border-animation 4s linear infinite; /* Adjust animation duration and timing function */
}

  