/* about style  */
.about-title {
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* 2nd div style */

.cards {
  height: 160px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #0057FF;
  background: rgba(34, 34, 34, 0.80);
  mix-blend-mode: luminosity;
  backdrop-filter: blur(10px);
}

.card-img {
  width: 93px;
  height: 93px;

  border-radius: 93px;
}

.card-left-body p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}

.card-left-body h2 {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 140% */
}


.p-btn {
  border-radius: 5px;
  padding: 24px;
  border: 1px solid #b7c2bf;
}

/* 3rd div  style  */

.Title {
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.founder {
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

.thought-title {
  color: white;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.thought-description {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}

/* ---------------------------- */
.box {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #6356d8, #6356d8);
  animation: animate 4s linear infinite;
}

/* In your CSS file or within your Tailwind CSS configuration */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #e6e8f1;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border: 6px solid #4057d8;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

/* mobile responsive  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .Title {
    color: white;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .about-title {
    color: white;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
  }

  .box {
    position: relative;
    width: 350px;
    height: 350px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
  }
}

/* mobile responsive  */
@media (max-width: 360px) {
  .Title {
    color: white;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .about-title {
    color: white;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .thought-title {
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .box {
    position: relative;
    width: 350px;
    height: 350px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
  }
}